<h2>Welcome</h2>

<p>Try loading the People yo! </p>

<p>If that works, reload the app at the root, turn off the back end, and navigate to People. The data should be pulled from offline mode.</p>

<p>Lastly, build for Cordova and test on your favoriate mobile device</p>
